*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: #98DFEA;
}
h1{
    color: #25283D;
    background-color: #8F3985;
    font-size: 3rem;
    height: 5rem;
    line-height: 5rem;
    font-weight: 800;
    font-family:Cedarville Cursive;

}
.choices{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.choices:hover{
    opacity: 0.5;
    cursor:pointer;
    background-color: black;
   
}
.score-Board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    color: #25283D;
}
#users-Score,#comp-Score{
    font-size: 4rem;
}
#msg{
    font-size: 2.5rem;
    background-color: #07BEB8;
    display: inline;
    padding: 1rem;
    border-radius: 20px;

}
.msg-Container{
    margin-top: 2.5rem;

}